<div class="nine mt-5 text-center vh-100">
    <h1>Nombre BB</h1>
    <h1><span>Aplicación para elegir nombre de bebés</span></h1>
    <%= image_tag "bebe1.jpeg", class:"w-50 m-auto home-photo shadow-lg rounded" %>
</div>





