<div class="nine mt-5 text-center ">
    <h1>Nombre BB<span>Aplicación para elegir nombres de bebés</span></h1>
    <%= image_tag "bebe1.jpeg", class:"w-50 m-auto home-photo shadow-lg rounded" %>
</div>





