/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

.nombre-capsula {
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nombre {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
}

.nombre.seleccionado {
  background-color: #87CEEB;
  color: #333;
}



/* body {
	margin: 0;
    height: 100%;
	font-family: sans-serif;
	font-size: 1.8rem;
	background-image: linear-gradient(
		to bottom right,
		#5dade2,
		#7fb3d5,
		#a2a3c3,
		#c67d8f,
		#f4d03f
	);
    background-size: cover;
    background-repeat: no-repeat;
} */

body {
    background-image: url("cute-patter-with-sun-rainbow_1191-793.avif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow-x: hidden;
}

.logo {
    font-family: "Edu TAS Beginner", sans-serif;
}

.nombres-titulo {
    font-family: "Raleway", sans-serif;
    color: #080808;
}

/* Style 9
   ----------------------------- */
.nine h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
}

.nine h1 span {
    margin-top: 5px;
    font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Edu TAS Beginner", sans-serif; font-weight:500;
}
  
.nine h1 span:after {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color:#f8f8f8;
}

.form {
    height: 80vh;
}

fieldset {
	margin: 50px;
	padding: 20px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border: none;
}

legend {
	font-size: 28px;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(2px);
	border-radius: 20px;
	padding: 10px 20px;
	color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid hsla(206,100%,73.3%,1);
	border-radius: 50%;
	margin-right: 10px;
	background-color: transparent;
	position: relative;
	top: 6px;
}

input[type="radio"]:checked::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: #ca8489;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear 0.8s;
}

label {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

.a {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

@keyframes appear {
	0% {
		transform: translate(-50%, -50%) scale(0);
		background-color: #fff;
	}
	45% {
		transform: translate(-50%, -50%) scale(1.6);
		background-color: #64aedf;
	}
	50% {
		transform: translate(-50%, -50%) scale(1.7);
		background-color: #ad97b3;
	}
	55% {
		transform: translate(-50%, -50%) scale(1.6);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
		background-color: #ca8489;
	}
}


main{
    display:flex;
    flex-direction:row;
  }
  .round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
  }
    .round .spacer{ flex-grow:1; }
    .round .spacer:first-child,
    .round .spacer:last-child{ flex-grow:.5; }
  
    .round .game-spacer{
      flex-grow:1;
    }
  
  /*
   *  General Styles
  */

  li.game{
    padding-left:20px;
  }
  
    li.game.winner{
      font-weight:bold;
    }
    li.game span{
      float:right;
      margin-right:5px;
    }
  
    li.game-top{ border-bottom:2px solid #51b2e3; }
  
    li.game-spacer{ 
      border-right:2px solid #51b2e3;
      min-height:40px;
    }
  
    li.game-bottom{ 
      border-top:2px solid #51b2e3;
    }


.ganador_masculino {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    font-family: 'Edu TAS Beginner', sans-serif;
}
    
.texto-ganador {
    position: relative;
    font-family: 'Edu TAS Beginner', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    background-clip: content-box;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.font-edu {
    font-family: 'Edu TAS Beginner';
}

.font-play {
    font-family: 'Playfair Display';
}
    
@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}